---
layout: default 
title: a11y Meetup Berlin
---
<section class="event">
    <h2 class="event__title">Next meetup on <time datetime="2018-01-16">January 16<sup>th</sup> 2018</time></h2>
    <div class="event__description">
        <p>We're extremely happy to invite you to our first meetup.</p>
        <p>
            Mark your calendars for A11y Meetup Berlin #1 on January 16, 2018. Please share with your friends and spread the word.
            Our kind supporter <a href="https://www.google.com/maps/search/?api=1&query=Julie-Wolfthorn-Stra%C3%9Fe+1%2C+Berlin%2C+de" rel="noopener">Project A</a> will arrange the community space and catering.
        </p>
        <p>
            Doors open: 7:00pm<br>
            Talks start: 7:30pm
        </p>
    </div>
    <div class="event__link">
        <a class="button button--green" href="https://www.meetup.com/de-DE/A11y-Meetup-Berlin/events/245047218">RSVP</a>
    </div>
    <h3>Talks</h3>
    <div>
        {% include teaser.html
            headline="Wheelmap.org"
            subline="Svenja Heinecke"
            text="Talk description"
            link="http://wheelmap.org"
        %}
        {% include teaser.html
            headline="Decrease your conversion - common ways to lock people out"
            subline="Stefan Judis"
            text="Talk description"
            link="https://speakerdeck.com/stefanjudis/decrease-your-conversion-common-ways-to-lock-people-out"
        %}
    </div>
</section>