{% if page.url != "/code-of-conduct.html" %}
    <section class="highlight-section">
        <div class="l-container">
            <h2>Code of conduct</h2>
            <p>If you are attending, organizing or speaking at our event, you are required to agree with our <a href="code-of-conduct.html">Code&nbsp;of&nbsp;Conduct.</a></p>
        </div>
    </section>
{% endif %}
<footer role="contentinfo" class="site-footer">
    <div class="l-container">
        <h2>Contact</h2>
        <ul class="icon-link-list">
            <li><a href="https://twitter.com/a11yberlin" rel="noopener">
                <img src="images/twitter-icon.png" alt="">
                <span>Follow us on twitter</span>
            </a></li>
            <li><a href="https://www.meetup.com/de-DE/A11y-Meetup-Berlin" rel="noopener">
                <img src="images/meetup-icon.png" alt="">
                <span>Find us on Meetup.com</span>
            </a></li>
            <li><a href="https://github.com/a11yberlin/a11y-meetup-berlin.de" rel="noopener">
                <img src="images/github-icon.png" alt="">
                <span>Watch the code on GitHub</span>
            </a></li>
            <li><a href="imprint.html" {% if page.url=='/imprint.html' %} aria-current="page" {% endif %}>Imprint</a></li>
        </ul>
    </div>
</footer>