{% if page.url != "/code-of-conduct.html" %}
<section class="highlight-section">
    <div class="l-container">
        <h2>Code of conduct</h2>
        <p>If you are attending, organizing or speaking at our event, you are required to agree with our <a href="code-of-conduct.html">Code&nbsp;of&nbsp;Conduct.</a></p>
    </div>
</section>
{% endif %}
<footer role="contentinfo" class="site-footer">
    <div class="l-container">
        <h2>Contact</h2>
        <ul class="icon-link-list">
            <li>
                <a href="mailto:info@a11y-meetup-berlin.de" rel="noopener">
                    <span class="link-icon icon-email" aria-hidden="true"></span>
                    <span class="link-text">info@a11y-meetup-berlin.de</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/a11yberlin" rel="noopener">
                    <span class="link-icon icon-twitter" aria-hidden="true"></span>
                    <span class="link-text">Follow us on twitter</span>
                </a>
            </li>
            <li>
                <a href="https://www.meetup.com/de-DE/A11y-Meetup-Berlin" rel="noopener">
                    <span class="link-icon icon-meetup" aria-hidden="true"></span>
                    <span class="link-text">Find us on Meetup.com</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/a11yberlin/a11y-meetup-berlin.de" rel="noopener">
                    <span class="link-icon icon-github" aria-hidden="true"></span>
                    <span class="link-text">Watch the code on GitHub</span>
                </a>
            </li>
            <li>
                <a href="legal.html" {% if page.url=='/legal.html' %} aria-current="page" {% endif %}>
                    <span class="link-text">Legal</span>
                </a>
            </li>
        </ul>
    </div>
</footer>