<section>
    <h2>Code of conduct</h2>
    <p>If you are attending, organizing or speaking at our event, you are required to agree with our <a href="code-of-conduct.html">Code of Conduct.</a></p>
</section>
<footer role="contentinfo">
    <h2>Contact</h2>
    <ul>
        <li><a href="https://twitter.com/a11yberlin" rel="noopener">Follow us on twitter</a></li>
        <li><a href="https://www.meetup.com/de-DE/A11y-Meetup-Berlin" rel="noopener">Find us on Meetup.com</a></li>
        <li><a href="https://github.com/a11yberlin/a11y-meetup-berlin.de" rel="noopener">Watch the code on GitHub</a></li>
    </ul>
</footer>