<header role="banner" class="site-header">
    <div class="l-container l-flexbox">
        <a href="index.html" class="logo">
            <img src="images/logo.jpg" width="176" height="176" class="logo__img" alt="A11y Berlin">
        </a>
        <div class="site-header__nav">
            <p>A usergroup about accessibility and inclusive design.</p>
            <nav aria-label="Main Navigation" class="main-nav">
                <ul>
                    <li><a href="./" {% if page.url=='/' %} aria-current="page" {% endif %}>Home</a></li>
                    <li><a href="meetups.html" {% if page.url=='/meetups.html' %} aria-current="page" {% endif %}>Meetups</a></li>
                    <li><a href="about.html" {% if page.url=='/about.html' %} aria-current="page" {% endif %}>About</a></li>
                    <li><a href="submit.html" {% if page.url=='/submit.html' %} aria-current="page" {% endif %}>Submit a talk</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>