html {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    line-height: 1.5;
    color: $color-text;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

section {
    margin: 3rem 0;
}

h1 {
    font-size: 3rem;
    margin-top: 1.5em;
}

h2 {
    font-size: 2rem;
    margin-top: 0;
}

h3 {
    font-size: 1.7rem;
    margin-top: 1.5em;
}

h4 {
    font-size: 1.5rem;
}

a {
    color: $color-primary;
    border-bottom: 1px solid;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    transition: border-width 0.1s, color 0.1s;
    &:hover,
    &:focus {
        color: $color-secondary;
        border-width: 3px;
    }
}

p,
ul,
ol,
dl {
    font-size: 1.2rem;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

sup {
    font-size: 0.6em;
}

abbr {
    text-decoration: none;
    &:after {
        border-bottom: none;
        content: '?';
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-left: 0.5em;
        line-height: 1rem;
        font-size: 0.8rem;
        font-weight: bold;
        background: $color-light-background;
        color: $color-primary;
        border-radius: 50%;
        text-align: center;
        vertical-align: super;
    }
}

blockquote {
    margin: 0;
}