.l-container {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 $default-spacing;
  clear: both;
}

.l-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.l-main-content {
  margin-bottom: 5rem;
}