body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  overflow-x: hidden;
  font-size: 1.2rem;
}

.l-container {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 var(--default-spacing);
  clear: both;
}

.l-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.l-mainContent {
  margin-bottom: 5rem;
}
