.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  width: 176px;
  height: 176px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding-bottom: 25px;
}

@media (min-width: 52rem) {
  .logo {
    margin-right: var(--default-spacing);
    margin-left: 0;
  }
}
