.icon-link-list {
    padding: 0;
    list-style: none;
    li {
        margin: 0 0 0.3em 0;
        &:last-of-type {
            text-align: right;
        }
    }
    a {
        text-decoration: none;
        border: none;
        &:hover,
        &:focus {
            .link-text {
                border-bottom: 3px solid;
            }
        }
    }
    svg {
        width: 24px;
        height: 24px;
        fill: #fff;
        margin-right: 0.5em;
        vertical-align: middle;
    }
}