.logo {
  text-decoration: none;
  border: none;
  margin: 0 auto;

  @media (min-width: 52rem) {
    margin-right: $default-spacing;
    margin-left: 0;
  }
}

.logo__img {
  width: 11rem;
  height: auto;
  border-radius: 50%;
  border: none;
  vertical-align: bottom;
}