.site-header {
    padding: $default-spacing 0;
    @include dark-background();
    @include decorative-outline($color-primary);
}

.site-header__nav {
    width: 100%;
    text-align: center;
    @media (min-width: 52rem) {
        width: auto;
        text-align: right;
    }
}