.teaser {
  padding-left: 2em;
  margin-bottom: 3rem;
  border-left: 1rem solid $color-primary;
  width: 100%;
}

.teaser__headline {
  color: $color-secondary;
  margin: 0;
}

.teaser__subline {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}